.section {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    padding: 50px 0 0 0;
    gap: 24px;
}

.container {
    background-color: beige;
    display: flex;
    width: 624px;
    height: 624px;
    border: 2px solid rgb(59, 59, 59); /* grey */
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 0;
    margin: 0;
    gap: 0; */

}

.pixel {
    padding: 0;
    margin: 0;
    background-color: beige;
}

.activated {
    background-color: rgb(40, 80, 0); /* green */
}

.reset-button {
    transition-duration: 0.2s;
    /* text-decoration: none; */
    padding: 15px 64px;
    border-radius: 8px;
    border-width: 2px;
    background-color: beige;
    color: rgb(40, 80, 0);
    font-weight: bold;
    font-size: large;
}

.reset-button:hover {
    background-color: rgb(40, 80, 0);
    color: beige;
}